body {
    background-image: url(../images/background.jpeg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .95em;
}

.container {
    text-align: left;
}
h1 {
    color: blue;
    text-align: center;
}

p {
    font-size: .8em;
}

ul {
    list-style-type: none;
}

.headlines {
    border: 4px  #7cc9ed dotted;
    background-color: mintcream;
    width: 40%;
    margin: auto;
    font-size: .95em;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
}

a:hover {
    color: red;
}